In [25]:
import pandas as pd
import numpy as np

In [26]:
df = pd.read_csv("./Input/airports-extended.csv", header=None)
#df.columns= ["number","airport_name"]

In [27]:
df.head(3)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.08169,145.391998,5282,10,U,Pacific/Port_Moresby,airport,OurAirports
1,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.20708,145.789001,20,10,U,Pacific/Port_Moresby,airport,OurAirports
2,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.82679,144.296005,5388,10,U,Pacific/Port_Moresby,airport,OurAirports

In [28]:
print(df.columns)

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13], dtype='int64')

In [5]:
df=df.reset_index().T.reset_index().T

In [29]:
df=df.rename(columns={2:'airport',4:'country',7:'latitude',8:'longitude'})

In [30]:
df.head()

,0,1,airport,3,country,5,6,latitude,longitude,9,10,11,12,13
0,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081690,145.391998,5282,10,U,Pacific/Port_Moresby,airport,OurAirports
1,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001,20,10,U,Pacific/Port_Moresby,airport,OurAirports
2,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10,U,Pacific/Port_Moresby,airport,OurAirports
3,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10,U,Pacific/Port_Moresby,airport,OurAirports
4,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,146,10,U,Pacific/Port_Moresby,airport,OurAirports

In [32]:
df=df[['airport',3,'country','latitude','longitude']]
df.head()

        airport                 3 country    latitude  longitude
0        Goroka  Papua New Guinea     GKA  145.391998       5282
1        Madang  Papua New Guinea     MAG  145.789001         20
2   Mount Hagen  Papua New Guinea     HGU  144.296005       5388
3        Nadzab  Papua New Guinea     LAE  146.725977        239
4  Port Moresby  Papua New Guinea     POM  147.220001        146

In [33]:
df[3]

0        Papua New Guinea
1        Papua New Guinea
2        Papua New Guinea
3        Papua New Guinea
4        Papua New Guinea
5        Papua New Guinea
6               Greenland
7               Greenland
8               Greenland
9               Greenland
10                Iceland
11                Iceland
12                Iceland
13                Iceland
14                Iceland
15                Iceland
16                Iceland
17                Iceland
18                Iceland
19                Iceland
20                 Canada
21                 Canada
22                 Canada
23                 Canada
24                 Canada
25                 Canada
26                 Canada
27                 Canada
28                 Canada
29                 Canada
               ...
10638             Denmark
10639             Denmark
10640             Belgium
10641             Belgium
10642             Belgium
10643             Belgium
10644               India
10645              Taiwan
10646              Taiwan
10647              Canada
10648              Canada
10649              Taiwan
10650         Netherlands
10651             Germany
10652       United States
10653         Switzerland
10654               Kenya
10655               Kenya
10656               Kenya
10657               Kenya
10658               Italy
10659               Italy
10660               Italy
10661               Benin
10662              Russia
10663               Benin
10664         New Zealand
10665         New Zealand
10666                Togo
10667                Togo
Name: 3, Length: 10668, dtype: object

In [10]:
def changeToFloat(col):
    df[col] = df[col].astype('float64')

def changeToStr(col):
    df[col] = df[col].astype('str')

In [11]:
changeToFloat('longitude')
changeToFloat('latitude')
changeToStr('airport')
changeToStr('country')

In [12]:
lon = np.asarray(df['longitude'])
lat= np.asarray(df['latitude'])
coords=list(zip(lon,lat))

In [13]:
df['coords']=coords

In [14]:
df.head()

,airport,country,latitude,longitude,coords
index,Goroka Airport,Papua New Guinea,-6.081690,145.391998,"(145.391998291, -6.081689834590001)"
0,Madang Airport,Papua New Guinea,-5.207080,145.789001,"(145.789001465, -5.20707988739)"
1,Mount Hagen Kagamuga Airport,Papua New Guinea,-5.826790,144.296005,"(144.29600524902344, -5.826789855957031)"
2,Nadzab Airport,Papua New Guinea,-6.569803,146.725977,"(146.725977, -6.569803)"
3,Port Moresby Jacksons International Airport,Papua New Guinea,-9.443380,147.220001,"(147.22000122070312, -9.443380355834961)"

In [15]:
#función para dar a las coordenadas el formato adecuado.
def createCoordformat(c):
    c= {'type': 'Point', 'coordinates': c}
    return c

In [16]:
df['coords']=df['coords'].apply(createCoordformat)

In [17]:
df.head()

,airport,country,latitude,longitude,coords
index,Goroka Airport,Papua New Guinea,-6.081690,145.391998,"{'type': 'Point', 'coordinates': (145.39199829..."
0,Madang Airport,Papua New Guinea,-5.207080,145.789001,"{'type': 'Point', 'coordinates': (145.78900146..."
1,Mount Hagen Kagamuga Airport,Papua New Guinea,-5.826790,144.296005,"{'type': 'Point', 'coordinates': (144.29600524..."
2,Nadzab Airport,Papua New Guinea,-6.569803,146.725977,"{'type': 'Point', 'coordinates': (146.725977, ..."
3,Port Moresby Jacksons International Airport,Papua New Guinea,-9.443380,147.220001,"{'type': 'Point', 'coordinates': (147.22000122..."

In [18]:
df.to_json('df_airports.json', orient='records')