In [1]:
import pandas as pd
import numpy as np

In [24]:
df = pd.read_csv("./Input/airports-extended.csv", header=None)
#df.columns= ["number","airport_name"]

In [ ]:
df.head(3)

In [22]:
print(df.columns)

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13], dtype='int64')

In [5]:
df=df.reset_index().T.reset_index().T

In [6]:
df=df.rename(columns={2:'airport',4:'country',7:'latitude',8:'longitude'})

In [7]:
df.head()

,0,1,airport,3,country,5,6,latitude,longitude,9,10,11,12,13,14
index,index,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081689834590001,145.391998291,5282,10,U,Pacific/Port_Moresby,airport,OurAirports
0,0,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.20708,145.789,20,10,U,Pacific/Port_Moresby,airport,OurAirports
1,1,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.82679,144.296,5388,10,U,Pacific/Port_Moresby,airport,OurAirports
2,2,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.5698,146.726,239,10,U,Pacific/Port_Moresby,airport,OurAirports
3,3,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.44338,147.22,146,10,U,Pacific/Port_Moresby,airport,OurAirports

In [8]:
df=df[['airport','country','latitude','longitude']]
df.head()

,airport,country,latitude,longitude
index,Goroka Airport,Papua New Guinea,-6.081689834590001,145.391998291
0,Madang Airport,Papua New Guinea,-5.20708,145.789
1,Mount Hagen Kagamuga Airport,Papua New Guinea,-5.82679,144.296
2,Nadzab Airport,Papua New Guinea,-6.5698,146.726
3,Port Moresby Jacksons International Airport,Papua New Guinea,-9.44338,147.22

In [9]:
df.dtypes

airport      object
country      object
latitude     object
longitude    object
dtype: object

In [10]:
def changeToFloat(col):
    df[col] = df[col].astype('float64')

def changeToStr(col):
    df[col] = df[col].astype('str')

In [11]:
changeToFloat('longitude')
changeToFloat('latitude')
changeToStr('airport')
changeToStr('country')

In [12]:
lon = np.asarray(df['longitude'])
lat= np.asarray(df['latitude'])
coords=list(zip(lon,lat))

In [13]:
df['coords']=coords

In [14]:
df.head()

,airport,country,latitude,longitude,coords
index,Goroka Airport,Papua New Guinea,-6.081690,145.391998,"(145.391998291, -6.081689834590001)"
0,Madang Airport,Papua New Guinea,-5.207080,145.789001,"(145.789001465, -5.20707988739)"
1,Mount Hagen Kagamuga Airport,Papua New Guinea,-5.826790,144.296005,"(144.29600524902344, -5.826789855957031)"
2,Nadzab Airport,Papua New Guinea,-6.569803,146.725977,"(146.725977, -6.569803)"
3,Port Moresby Jacksons International Airport,Papua New Guinea,-9.443380,147.220001,"(147.22000122070312, -9.443380355834961)"

In [15]:
#funci√≥n para dar a las coordenadas el formato adecuado.
def createCoordformat(c):
    c= {'type': 'Point', 'coordinates': c}
    return c

In [16]:
df['coords']=df['coords'].apply(createCoordformat)

In [17]:
df.head()

,airport,country,latitude,longitude,coords
index,Goroka Airport,Papua New Guinea,-6.081690,145.391998,"{'type': 'Point', 'coordinates': (145.39199829..."
0,Madang Airport,Papua New Guinea,-5.207080,145.789001,"{'type': 'Point', 'coordinates': (145.78900146..."
1,Mount Hagen Kagamuga Airport,Papua New Guinea,-5.826790,144.296005,"{'type': 'Point', 'coordinates': (144.29600524..."
2,Nadzab Airport,Papua New Guinea,-6.569803,146.725977,"{'type': 'Point', 'coordinates': (146.725977, ..."
3,Port Moresby Jacksons International Airport,Papua New Guinea,-9.443380,147.220001,"{'type': 'Point', 'coordinates': (147.22000122..."

In [18]:
df.to_json('df_airports.json', orient='records')