In [2]:
import requests
import os
from dotenv import load_dotenv
load_dotenv()
import pandas as pd
import json

In [118]:
def RequestYelpBusiness(business):
    yelp_api_key = os.getenv("YELP_API_KEY")
    if not yelp_api_key:
        raise ValueError("NECESITAS UN TOKEN")
    else:
        print("We have a yelp api key: ", yelp_api_key[0:4])

    url='https://api.yelp.com/v3/businesses/search'
    headers = {'Authorization': 'Bearer %s' % yelp_api_key}
    #Ã¬n the dictionary, term can take values like food, cafes or businesses like McDonalds
    
    data = []
    for offset in range(0, 1000, 50):
        params = {'limit': 50,'term':business,'location':'Palo Alto','offset': offset, 'radius':4000}
        req=requests.get(url, params=params, headers=headers)

        if req.status_code == 200:
                data += req.json()['businesses']
        elif req.status_code == 400:
                print('400 Bad Request')
                break


    print('The status code is {}'.format(req.status_code))
    return data

__Request para conseguir Starbucks.__

starbucks= RequestYelpBusiness('Starbucks')
print(type(starbucks))

In [120]:
len(starbucks)

129

In [121]:
def createDffromJson(json):
    list_values=[]
    for j in json:
        venues_pa={ 
            'name': j['alias'],
            'country': j['location']['country'],
            'coords': {'type': 'Point', 'coordinates':[j['coordinates']['longitude'],j['coordinates']['latitude']]}

        }
        list_values.append(venues_pa)
    df=pd.DataFrame(list_values)
    return df

In [122]:
df=createDffromJson(starbucks)

In [123]:
df.head()
df.shape

(129, 3)

In [124]:
df.to_json('df_starbucks.json', orient='records')

__Request para conseguir las escuelas primarias.__

In [125]:
schools= RequestYelpBusiness('elementary school')

We have a yelp api key:  HPPM
The status code is 200

In [126]:
len(schools)

68

In [131]:
df_schools=createDffromJson(schools)

In [132]:
df_schools.head()

,coords,country,name
0,"{'coordinates': [-122.143066, 37.44305], 'type...",US,walter-hays-elementary-school-palo-alto
1,"{'coordinates': [-122.1311506, 37.4080946], 't...",US,juana-briones-elementary-school-palo-alto
2,"{'coordinates': [-122.14721, 37.42696], 'type'...",US,living-wisdom-school-palo-alto
3,"{'coordinates': [-122.11431, 37.43086], 'type'...",US,palo-verde-elementary-school-palo-alto
4,"{'coordinates': [-122.123527526855, 37.4396743...",US,ohlone-elementary-school-palo-alto

In [133]:
df_schools.to_json('df_schools.json', orient='records')



__Request para conseguir restaurantes veganos o con opciones veganas.__

In [134]:
vegan_food= RequestYelpBusiness('vegan food')

We have a yelp api key:  HPPM
The status code is 200

In [136]:
df_vegan_food.head()
df_vegan_food.shape

(292, 3)

In [137]:
df_vegan_food.to_json('df_vegan.json', orient='records')

__Request para conseguir places to party.__

In [139]:
party= RequestYelpBusiness('night club')

We have a yelp api key:  HPPM
The status code is 200

In [140]:
df_party=createDffromJson(party)

In [143]:
df_party.to_json('df_party.json', orient='records')