In [2]:
import requests
import os
from dotenv import load_dotenv
load_dotenv()
import pandas as pd
import json

In [3]:
def RequestYelpBusiness(business):
    yelp_api_key = os.getenv("YELP_API_KEY")
    if not yelp_api_key:
        raise ValueError("NECESITAS UN TOKEN")
    else:
        print("We have a yelp api key: ", yelp_api_key[0:4])

    url='https://api.yelp.com/v3/businesses/search'
    headers = {'Authorization': 'Bearer %s' % yelp_api_key}
    #Ã¬n the dictionary, term can take values like food, cafes or businesses like McDonalds
    params = {'term':business,'location':'Palo Alto'}
    req=requests.get(url, params=params, headers=headers)
    print('The status code is {}'.format(req.status_code))
    return req

In [4]:
starbucks= RequestYelpBusiness('Starbucks')

We have a yelp api key:  HPPM
The status code is 200

In [6]:
starbucks=json.loads(starbucks.text)

In [39]:
def createDffromJson(json):
    list_values=[]
    for j in json['businesses']:
        venues_pa={ 
            'name': j['alias'],
            'country': j['location']['country'],
            'coords': {'type': 'Point', 'coordinates':[j['coordinates']['longitude'],j['coordinates']['latitude']]}

        }
        list_values.append(venues_pa)
    df=pd.DataFrame(list_values)
    return df

In [30]:
#starbucks_pa

In [45]:
df.head(2)

,coords,country,name
0,"{'coordinates': [-122.144091, 37.426867], 'typ...",US,starbucks-palo-alto-20
1,"{'coordinates': [-122.149213, 37.427381], 'typ...",US,starbucks-palo-alto-7

In [31]:
df.to_json('df_starbucks.json', orient='records')

In [33]:
#request para conseguir las escuelas primarias.
schools= RequestYelpBusiness('elementary school')

We have a yelp api key:  HPPM
The status code is 200

In [34]:
schools=json.loads(schools.text)

In [44]:
#len(schools['businesses'])

In [40]:
#schools['businesses'][0]

In [42]:
df_schools=createDffromJson(schools)

In [43]:
df_schools.head()

,coords,country,name
0,"{'coordinates': [-122.143066, 37.44305], 'type...",US,walter-hays-elementary-school-palo-alto
1,"{'coordinates': [-122.1311506, 37.4080946], 't...",US,juana-briones-elementary-school-palo-alto
2,"{'coordinates': [-122.11431, 37.43086], 'type'...",US,palo-verde-elementary-school-palo-alto
3,"{'coordinates': [-122.14721, 37.42696], 'type'...",US,living-wisdom-school-palo-alto
4,"{'coordinates': [-122.123527526855, 37.4396743...",US,ohlone-elementary-school-palo-alto