In [3]:
import requests
import os
from dotenv import load_dotenv
load_dotenv()
import pandas as pd
import json

In [19]:
def RequestYelpBusiness(business):
    yelp_api_key = os.getenv("YELP_API_KEY")
    if not yelp_api_key:
        raise ValueError("NECESITAS UN TOKEN")
    else:
        print("We have a yelp api key: ", yelp_api_key[0:4])

    url='https://api.yelp.com/v3/businesses/search'
    headers = {'Authorization': 'Bearer %s' % yelp_api_key}
    #ìn the dictionary, term can take values like food, cafes or businesses like McDonalds
    params = {'limit': 50,'term':business,'location':'Palo Alto','radius':4000}
    req=requests.get(url, params=params, headers=headers)
    data = req.json()['businesses']
    
    print('The status code is {}'.format(req.status_code))
    return data

__Request para conseguir Starbucks.__

starbucks= RequestYelpBusiness('Starbucks')
print(type(starbucks))

In [5]:
len(starbucks)

NameError: name 'starbucks' is not defined

In [6]:
def createDffromJson(json):
    list_values=[]
    for j in json:
        venues_pa={ 
            'name': j['alias'],
            'country': j['location']['country'],
            'coords': {'type': 'Point', 'coordinates':[j['coordinates']['longitude'],j['coordinates']['latitude']]}

        }
        list_values.append(venues_pa)
    df=pd.DataFrame(list_values)
    return df

In [122]:
df=createDffromJson(starbucks)

In [123]:
df.head()
df.shape

(129, 3)

In [124]:
df.to_json('df_starbucks.json', orient='records')

__Request para conseguir las escuelas primarias.__

In [125]:
schools= RequestYelpBusiness('elementary school')

We have a yelp api key:  HPPM
The status code is 200

In [126]:
len(schools)

68

In [131]:
df_schools=createDffromJson(schools)

In [132]:
df_schools.head()

,coords,country,name
0,"{'coordinates': [-122.143066, 37.44305], 'type...",US,walter-hays-elementary-school-palo-alto
1,"{'coordinates': [-122.1311506, 37.4080946], 't...",US,juana-briones-elementary-school-palo-alto
2,"{'coordinates': [-122.14721, 37.42696], 'type'...",US,living-wisdom-school-palo-alto
3,"{'coordinates': [-122.11431, 37.43086], 'type'...",US,palo-verde-elementary-school-palo-alto
4,"{'coordinates': [-122.123527526855, 37.4396743...",US,ohlone-elementary-school-palo-alto

In [133]:
df_schools.to_json('df_schools.json', orient='records')



__Request para conseguir restaurantes veganos o con opciones veganas.__

In [134]:
vegan_food= RequestYelpBusiness('vegan food')

We have a yelp api key:  HPPM
The status code is 200

In [136]:
df_vegan_food.head()
df_vegan_food.shape

(292, 3)

In [137]:
df_vegan_food.to_json('df_vegan.json', orient='records')

__Request para conseguir places to party.__

In [139]:
party= RequestYelpBusiness('night club')

We have a yelp api key:  HPPM
The status code is 200

In [140]:
df_party=createDffromJson(party)

In [143]:
df_party.to_json('df_party.json', orient='records')

__Request para conseguir airports.__

In [24]:
airport2= RequestYelpBusiness('airport')

We have a yelp api key:  HPPM
The status code is 200

In [25]:
df_airp2=createDffromJson(airport2)

In [26]:
df_airp2

,coords,country,name
0,"{'coordinates': [-122.110778927745, 37.4549724...",US,palo-alto-airport-palo-alto
1,"{'coordinates': [-122.20068, 37.46168], 'type'...",US,tesla-on-call-atherton-3
2,"{'coordinates': [-122.149828, 37.443254], 'typ...",US,lone-star-transportation-palo-alto
3,"{'coordinates': [None, None], 'type': 'Point'}",US,palo-alto-taxi-cab-palo-alto-9
4,"{'coordinates': [-122.11232, 37.41817], 'type'...",US,green-taxi-palo-alto-palo-alto-6
5,"{'coordinates': [-122.12532043457, 37.46036529...",US,ash-limo-service-palo-alto
6,"{'coordinates': [-122.126, 37.4305], 'type': '...",US,a-palo-alto-limousine-palo-alto
7,"{'coordinates': [-122.12475, 37.44475], 'type'...",US,centurion-flight-services-palo-alto-5
8,"{'coordinates': [-122.1575745, 37.4457966], 't...",US,a-style-limo-palo-alto
9,"{'coordinates': [-122.11125, 37.41399], 'type'...",US,yellow-cab-mountain-view-palo-alto-2
10,"{'coordinates': [-121.979413, 37.23286], 'type...",US,san-jose-airport-taxi-los-gatos-4
11,"{'coordinates': [-122.121955871582, 37.4455833...",US,yellow-smart-cab-palo-alto
12,"{'coordinates': [-122.15935, 37.44603], 'type'...",US,palo-alto-limo-palo-alto-4
13,"{'coordinates': [-122.141818, 37.456257], 'typ...",US,bonavia-limo-palo-alto-2
14,"{'coordinates': [-122.051727294922, 37.3799209...",US,flat-rate-airport-taxi-cab-sunnyvale
15,"{'coordinates': [-122.128812428125, 37.4465138...",US,e-z-limo-palo-alto
16,"{'coordinates': [-122.12109, 37.45001], 'type'...",US,palo-alto-limo-palo-alto-2
17,"{'coordinates': [-122.16127, 37.46239], 'type'...",US,shiny-crystal-limo-menlo-park
18,"{'coordinates': [-122.30363, 37.53486], 'type'...",US,blue-shuttle-san-mateo
19,"{'coordinates': [-122.145393455469, 37.4265630...",US,all-star-bay-limousine-service-sunnyvale
20,"{'coordinates': [-121.9864, 37.50847], 'type':...",US,bay-star-airport-shuttle-fremont-3
21,"{'coordinates': [-122.0777025, 37.3930003], 't...",US,sf-city-limo-mountain-view
22,"{'coordinates': [-121.95728, 37.39911], 'type'...",US,five-star-limo-black-car-service-santa-clara-5
23,"{'coordinates': [-121.821792602539, 37.2524757...",US,san-jose-airport-taxi-san-jose
24,"{'coordinates': [-122.182044312358, 37.4549406...",US,menlo-park-taxi-cab-menlo-park-14
25,"{'coordinates': [-122.002724, 37.354534], 'typ...",US,rockin-limousine-services-sunnyvale-4
26,"{'coordinates': [-122.1235054, 37.418165312851...",US,kavi-limousine-palo-alto-4
27,"{'coordinates': [-122.15935, 37.44603], 'type'...",US,american-airport-and-limousine-services-palo-alto
28,"{'coordinates': [-122.0181762, 37.411045468690...",US,esv-limo-service-sunnyvale-ca
29,"{'coordinates': [-122.15793, 37.44787], 'type'...",US,yellow-cab-palo-alto-25
30,"{'coordinates': [-122.120319, 37.6546635], 'ty...",US,meridian-hayward-hayward
31,"{'coordinates': [-122.058792114258, 37.3785057...",US,lalli-taxi-cab-sunnyvale
32,"{'coordinates': [-122.0841289, 37.386545], 'ty...",US,premier-airport-shuttle-mountain-view-2
33,"{'coordinates': [-122.314443, 37.519468], 'typ...",US,melo-limo-express-brisbane-3
34,"{'coordinates': [-122.1316742, 37.4174539], 't...",US,town-car-bay-area-palo-alto-3
35,"{'coordinates': [-122.12914, 37.41238], 'type'...",US,town-car-service-palo-alto
36,"{'coordinates': [-121.9299096, 37.4990631], 't...",US,ma-limousine-and-cls-global-transportation-fre...
37,"{'coordinates': [-122.15644, 37.438525], 'type...",US,caltrain-station-stanford-palo-alto
38,"{'coordinates': [-122.03566, 37.34467], 'type'...",US,front-travel-limo-sunnyvale
39,"{'coordinates': [-121.918866, 37.2583724], 'ty...",US,mannys-sedan-and-limousine-los-gatos
40,"{'coordinates': [-122.168327, 37.447128], 'typ...",US,yellow-cab-rider-palo-alto
41,"{'coordinates': [-122.13191, 37.43086], 'type'...",US,yellow-cab-apex-palo-alto
42,"{'coordinates': [-122.051879882813, 37.3790550...",US,berry-airport-shuttle-sunnyvale-2
43,"{'coordinates': [-122.2704488, 37.5354239], 't...",US,black-star-transportation-san-mateo-4
44,"{'coordinates': [-122.26084, 37.55214], 'type'...",US,yellow-cab-and-limo-foster-city-san-mateo-2
45,"{'coordinates': [-121.9972667, 37.3553093], 't...",US,bay-one-limo-santa-clara-5
46,"{'coordinates': [-122.347991943359, 37.5802383...",US,united-coach-limousine-burlingame
47,"{'coordinates': [-122.078515, 37.4081737186827...",US,best-airport-yellow-cab-mountain-view
48,"{'coordinates': [-122.02665, 37.19276], 'type'...",US,elite-vip-transportation-los-gatos
49,"{'coordinates': [-121.94555, 37.32229], 'type'...",US,venture-limo-san-jose-3

In [16]:
def RequestYelpBusiness2(business):
    yelp_api_key = os.getenv("YELP_API_KEY")
    if not yelp_api_key:
        raise ValueError("NECESITAS UN TOKEN")
    else:
        print("We have a yelp api key: ", yelp_api_key[0:4])

    url='https://api.yelp.com/v3/businesses/search'
    headers = {'Authorization': 'Bearer %s' % yelp_api_key}
    #ìn the dictionary, term can take values like food, cafes or businesses like McDonalds
    
    data = []
    for offset in range(0, 1000, 50):
        params = {'limit': 50,'term':business,'location':'Palo Alto','offset': offset, 'radius':4000}
        req=requests.get(url, params=params, headers=headers)

        if req.status_code == 200:
                data += req.json()['businesses']
        elif req.status_code == 400:
                print('400 Bad Request')
                break


    print('The status code is {}'.format(req.status_code))
    return data

In [17]:
airport= RequestYelpBusiness2('airport')

We have a yelp api key:  HPPM
The status code is 200

In [18]:
airport[0]

{'alias': 'palo-alto-airport-palo-alto',
 'categories': [{'alias': 'airports', 'title': 'Airports'}],
 'coordinates': {'latitude': 37.454972401547, 'longitude': -122.110778927745},
 'display_phone': '(650) 329-2444',
 'distance': 3670.5327363090564,
 'id': 'BPNTqHbA08J35liQfgavtg',
 'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/09gaUHsDQ7Q6v0SXbIQEPQ/o.jpg',
 'is_closed': False,
 'location': {'address1': '1925 Embarcadero Rd',
  'address2': '',
  'address3': '',
  'city': 'Palo Alto',
  'country': 'US',
  'display_address': ['1925 Embarcadero Rd', 'Palo Alto, CA 94303'],
  'state': 'CA',
  'zip_code': '94303'},
 'name': 'Palo Alto Airport',
 'phone': '+16503292444',
 'rating': 4.0,
 'review_count': 12,
 'transactions': [],
 'url': 'https://www.yelp.com/biz/palo-alto-airport-palo-alto?adjust_creative=BC8rfICSUCL4XFnTlLrzbg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=BC8rfICSUCL4XFnTlLrzbg'}