In [1]:
from pymongo import MongoClient
import pandas as pd

In [2]:
def connectCollection(database, collection):
    client = MongoClient()
    db = client[database]
    coll = db[collection]
    return db, coll

In [3]:
db, coll = connectCollection('companies','companies')

In [19]:
#query para filtrar solo las compañias relacionadas de alguna manera con design y que son posteriores a 2009.
#solamente devuelve los valores que me interesan: name, category, location, founded year e id.
new_companies = list(coll.find({'$and':
                           [ { "offices.latitude": {"$exists": True,"$ne":None} },
                            { "offices.longitude": {"$exists": True,"$ne":None} },
                            {'deadpooled_year':None},
                            {'$or':[{'category_code': 'advertising' },
                                    {'category_code': 'software' },
                                    {'category_code': 'mobile' },
                                    {'category_code': 'web' },
                                    {'category_code': 'games_video' }]}]}, 
                          {'name':1,'founded_year': 1, '_id': 0,'offices.latitude':1, 
                           'offices.longitude':1, 'category_code':1, 'location':1 }))

In [20]:
print(len(new_companies))
new_companies[0]

4791

{'category_code': 'web',
 'founded_year': 2001,
 'name': 'TechnologyGuide',
 'offices': [{'latitude': 39.06685, 'longitude': -84.351532}]}

In [11]:
#funcion para sacar las coordenadas de las queries. Solamente saca la primera de las oficinas.
def getLocation(company):
    longitude = company['offices'][0]['longitude']
    latitude = company['offices'][0]['latitude']
    coordinates = [float(longitude), float(latitude)]
    
    return coordinates

In [22]:
getLocation(new_companies[0]) #probando la función en una company.

[-84.351532, 39.06685]

In [14]:
#funcion para crear df de la query con las coordenadas
def createDfFromMongo(query):
    df = pd.DataFrame(query)
    coords=[{'type': 'Point', 'coordinates':getLocation(q)}for q in query]
    df['coords']=coords
    df=df[['category_code','founded_year','name','coords']]
    return df

In [24]:
df= createDfFromMongo(new_companies)

In [17]:
df.head()

,category_code,founded_year,name,office_coords
0,web,2011,Mokitown,"{'type': 'Point', 'coordinates': [-95.712891, ..."
1,mobile,2010,GENWI,"{'type': 'Point', 'coordinates': [-111.9035, 3..."
2,web,2013,Fixya,"{'type': 'Point', 'coordinates': [-122.323895,..."
3,games_video,2011,Social Gaming Network,"{'type': 'Point', 'coordinates': [-122.161523,..."
4,mobile,2012,Skydeck,"{'type': 'Point', 'coordinates': [-122.3254705..."

In [27]:
df.to_json('df_design.json', orient='records') #guardando el df en json para Mongo.

In [26]:
design_comp = list(coll.find({'$and':
                           [ { "offices.latitude": {"$exists": True,"$ne":None} },
                            { "offices.longitude": {"$exists": True,"$ne":None} },
                            {'deadpooled_year':None},
                            {'founded_year':{'$gt': 2009}},
                            {'$or':[{'category_code': 'advertising' },
                                    {'category_code': 'software' },
                                    {'category_code': 'mobile' },
                                    {'category_code': 'web' },
                                    {'category_code': 'games_video' }]}]}, 
                          {'name':1,'founded_year': 1, '_id': 0,'offices.latitude':1, 
                           'offices.longitude':1, 'category_code':1, 'location':1 }))

In [27]:
design_comp

[{'category_code': 'web',
  'founded_year': 2011,
  'name': 'Mokitown',
  'offices': [{'latitude': 37.09024, 'longitude': -95.712891}]},
 {'category_code': 'mobile',
  'founded_year': 2010,
  'name': 'GENWI',
  'offices': [{'latitude': 33.8171, 'longitude': -111.9035}]},
 {'category_code': 'web',
  'founded_year': 2013,
  'name': 'Fixya',
  'offices': [{'latitude': 37.566879, 'longitude': -122.323895}]},
 {'category_code': 'games_video',
  'founded_year': 2011,
  'name': 'Social Gaming Network',
  'offices': [{'latitude': 37.446823, 'longitude': -122.161523},
   {'latitude': 34.0698494, 'longitude': -118.4054182}]},
 {'category_code': 'mobile',
  'founded_year': 2012,
  'name': 'Skydeck',
  'offices': [{'latitude': 37.5645375, 'longitude': -122.3254705}]},
 {'category_code': 'mobile',
  'founded_year': 2012,
  'name': 'Jumbuck Entertainment',
  'offices': [{'latitude': -37.817748, 'longitude': 144.962991}]},
 {'category_code': 'web',
  'founded_year': 2010,
  'name': 'Pixsta',
  'offices': [{'latitude': 51.51819, 'longitude': -0.208979}]},
 {'category_code': 'games_video',
  'founded_year': 2011,
  'name': 'Fuzz',
  'offices': [{'latitude': 37.760524, 'longitude': -122.387799}]},
 {'category_code': 'web',
  'founded_year': 2010,
  'name': 'CollegeConvo',
  'offices': [{'latitude': 40.650291, 'longitude': -74.294395}]},
 {'category_code': 'software',
  'founded_year': 2012,
  'name': 'Carfeine',
  'offices': [{'latitude': 38.989124, 'longitude': -77.026676}]},
 {'category_code': 'web',
  'founded_year': 2011,
  'name': 'Ziippi',
  'offices': [{'latitude': 37.4440981, 'longitude': -122.1612868}]},
 {'category_code': 'games_video',
  'founded_year': 2010,
  'name': 'Titan Gaming',
  'offices': [{'latitude': 53.544711, 'longitude': -113.515769}]},
 {'category_code': 'software',
  'founded_year': 2010,
  'name': 'JumpForward',
  'offices': [{'latitude': 41.857204, 'longitude': -87.623923}]},
 {'category_code': 'software',
  'founded_year': 2010,
  'name': 'OTOY',
  'offices': [{'latitude': 34.15761, 'longitude': -118.424058}]},
 {'category_code': 'advertising',
  'founded_year': 2013,
  'name': 'SEOGroup',
  'offices': [{'latitude': 41.886264, 'longitude': -87.624701}]},
 {'category_code': 'mobile',
  'founded_year': 2010,
  'name': 'vufind',
  'offices': [{'latitude': 37.424614, 'longitude': -122.145153}]},
 {'category_code': 'games_video',
  'founded_year': 2011,
  'name': 'Kidos',
  'offices': [{'latitude': 40.768058, 'longitude': -73.956599},
   {'latitude': 40.714056, 'longitude': -73.957854}]},
 {'category_code': 'mobile',
  'founded_year': 2010,
  'name': 'vufind',
  'offices': [{'latitude': 37.424614, 'longitude': -122.145153}]},
 {'category_code': 'games_video',
  'founded_year': 2011,
  'name': 'Kidos',
  'offices': [{'latitude': 40.768058, 'longitude': -73.956599},
   {'latitude': 40.714056, 'longitude': -73.957854}]},
 {'category_code': 'games_video',
  'founded_year': 2010,
  'name': 'Equedia',
  'offices': [{'latitude': 49.2871668, 'longitude': -123.1169693}]},
 {'category_code': 'software',
  'founded_year': 2012,
  'name': 'Navara',
  'offices': [{'latitude': 52.126616, 'longitude': 5.038078}]},
 {'category_code': 'advertising',
  'founded_year': 2010,
  'name': 'Webmoblink',
  'offices': [{'latitude': 25.655899, 'longitude': -80.424167}]},
 {'category_code': 'web',
  'founded_year': 2010,
  'name': 'Yipit',
  'offices': [{'latitude': 40.744618, 'longitude': -73.987764}]},
 {'category_code': 'web',
  'founded_year': 2010,
  'name': 'fruux',
  'offices': [{'latitude': 51.9630088, 'longitude': 7.6267552}]},
 {'category_code': 'web',
  'founded_year': 2013,
  'name': 'Clowdy',
  'offices': [{'latitude': 53.4837067, 'longitude': -2.2439492}]},
 {'category_code': 'software',
  'founded_year': 2011,
  'name': 'Unison Technologies',
  'offices': [{'latitude': 40.7645772, 'longitude': -73.9799007}]},
 {'category_code': 'games_video',
  'founded_year': 2010,
  'name': 'Tengaged',
  'offices': [{'latitude': 41.4241228, 'longitude': 2.1634249}]},
 {'category_code': 'software',
  'founded_year': 2010,
  'name': 'Reachoo',
  'offices': [{'latitude': 26.2480738, 'longitude': -80.135487}]},
 {'category_code': 'games_video',
  'founded_year': 2010,
  'name': 'Indee',
  'offices': [{'latitude': 37.8053241, 'longitude': -122.4052761}]},
 {'category_code': 'web',
  'founded_year': 2010,
  'name': 'eCampusCash',
  'offices': [{'latitude': 40.650291, 'longitude': -74.294395}]},
 {'category_code': 'software',
  'founded_year': 2011,
  'name': 'VisualOn',
  'offices': [{'latitude': 37.270518, 'longitude': -121.955879}]},
 {'category_code': 'software',
  'founded_year': 2010,
  'name': 'kinDragon',
  'offices': [{'latitude': 27.4081935, 'longitude': -82.5294065}]},
 {'category_code': 'games_video',
  'founded_year': 2010,
  'name': 'BASH Gaming',
  'offices': [{'latitude': 37.5561712, 'longitude': -122.0780632},
   {'latitude': 12.971606, 'longitude': 77.594376}]},
 {'category_code': 'software',
  'founded_year': 2010,
  'name': 'AppNeta',
  'offices': [{'latitude': 42.318138, 'longitude': -71.24756}]},
 {'category_code': 'advertising',
  'founded_year': 2010,
  'name': 'MyLikes',
  'offices': [{'latitude': 37.777995, 'longitude': -122.408914}]},
 {'category_code': 'games_video',
  'founded_year': 2011,
  'name': 'Hayen Company',
  'offices': [{'latitude': 34.019114, 'longitude': -81.004871}]},
 {'category_code': 'games_video',
  'founded_year': 2010,
  'name': 'Flixxy',
  'offices': [{'latitude': 27.972364, 'longitude': -82.800333}]},
 {'category_code': 'games_video',
  'founded_year': 2010,
  'name': 'ekidnaworld',
  'offices': [{'latitude': -27.4574861, 'longitude': 153.033686}]}]

In [28]:
len(design_comp)

38

In [29]:
df_game= createDfFromMongo(design_comp)

In [31]:
df_game.head()

,category_code,founded_year,name,coords
0,web,2011,Mokitown,"{'type': 'Point', 'coordinates': [-95.712891, ..."
1,mobile,2010,GENWI,"{'type': 'Point', 'coordinates': [-111.9035, 3..."
2,web,2013,Fixya,"{'type': 'Point', 'coordinates': [-122.323895,..."
3,games_video,2011,Social Gaming Network,"{'type': 'Point', 'coordinates': [-122.161523,..."
4,mobile,2012,Skydeck,"{'type': 'Point', 'coordinates': [-122.3254705..."

In [32]:
df_game.to_json('df_design_new.json', orient='records')

In [34]:
df_game.head()

,category_code,founded_year,name,coords
0,web,2011,Mokitown,"{'type': 'Point', 'coordinates': [-95.712891, ..."
1,mobile,2010,GENWI,"{'type': 'Point', 'coordinates': [-111.9035, 3..."
2,web,2013,Fixya,"{'type': 'Point', 'coordinates': [-122.323895,..."
3,games_video,2011,Social Gaming Network,"{'type': 'Point', 'coordinates': [-122.161523,..."
4,mobile,2012,Skydeck,"{'type': 'Point', 'coordinates': [-122.3254705..."