In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("./Input/airports-extended.csv")
#df.columns= ["number","airport_name"]

In [3]:
df.head(3)

,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081689834590001,145.391998291,5282,10,U,Pacific/Port_Moresby,airport,OurAirports
0,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001,20,10,U,Pacific/Port_Moresby,airport,OurAirports
1,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10,U,Pacific/Port_Moresby,airport,OurAirports
2,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10,U,Pacific/Port_Moresby,airport,OurAirports

In [5]:
df=df.reset_index().T.reset_index().T

In [6]:
df=df.rename(columns={2:'airport',4:'country',7:'latitude',8:'longitude'})

In [17]:
df=df[['airport','country','latitude','longitude']]
df.head()

,airport,country,latitude,longitude
index,Goroka Airport,Papua New Guinea,-6.081690,145.391998
0,Madang Airport,Papua New Guinea,-5.207080,145.789001
1,Mount Hagen Kagamuga Airport,Papua New Guinea,-5.826790,144.296005
2,Nadzab Airport,Papua New Guinea,-6.569803,146.725977
3,Port Moresby Jacksons International Airport,Papua New Guinea,-9.443380,147.220001

In [9]:
def changeToFloat(col):
    df[col] = df[col].astype('float64')

def changeToStr(col):
    df[col] = df[col].astype('str')

In [10]:
changeToFloat('longitude')
changeToFloat('latitude')
changeToStr('airport')
changeToStr('country')

In [11]:
lon = np.asarray(df['longitude'])
lat= np.asarray(df['latitude'])
coords=list(zip(lon,lat))

In [12]:
df['coords']=coords

In [13]:
#funci√≥n para dar a las coordenadas el formato adecuado.
def createCoordformat(c):
    c= {'type': 'Point', 'coordinates': c}
    return c

In [14]:
df['coords']=df['coords'].apply(createCoordformat)

In [18]:
df.head()

,airport,country,latitude,longitude
index,Goroka Airport,Papua New Guinea,-6.081690,145.391998
0,Madang Airport,Papua New Guinea,-5.207080,145.789001
1,Mount Hagen Kagamuga Airport,Papua New Guinea,-5.826790,144.296005
2,Nadzab Airport,Papua New Guinea,-6.569803,146.725977
3,Port Moresby Jacksons International Airport,Papua New Guinea,-9.443380,147.220001

In [16]:
df.to_json('df_airports.json', orient='records')