In [1]:
from pymongo import MongoClient
import pandas as pd

In [2]:
def connectCollection(database, collection):
    client = MongoClient()
    db = client[database]
    coll = db[collection]
    return db, coll

In [3]:
db, coll = connectCollection('companies','companies')

In [31]:
#rest = list(coll.find({'founded_year':{'$gt':2009}}))
new_companies = list(coll.find({'$and':
                           [ { "offices.latitude": {"$exists": True,"$ne":None} },
                            { "offices.longitude": {"$exists": True,"$ne":None} },
                            {'founded_year': {'$gt': 2009 }},
                            {'deadpooled_year':None},
                            {'$or':[{'category_code': 'advertising' },
                                    {'category_code': 'mobile' },
                                    {'category_code': 'web' },
                                    {'category_code': 'games_video' }]}]}, 
                          {'name':1,'founded_year': 1, '_id': 0,'offices.latitude':1, 
                           'offices.longitude':1, 'category_code':1, 'location':1 }))

In [34]:
print(len(new_companies))

29

In [33]:
new_companies[0]

{'category_code': 'web',
 'founded_year': 2011,
 'name': 'Mokitown',
 'offices': [{'latitude': 37.09024, 'longitude': -95.712891}]}

In [36]:
df = pd.DataFrame(new_companies)
df

,category_code,founded_year,name,offices
0,web,2011,Mokitown,"[{'longitude': -95.712891, 'latitude': 37.09024}]"
1,mobile,2010,GENWI,"[{'longitude': -111.9035, 'latitude': 33.8171}]"
2,web,2013,Fixya,"[{'longitude': -122.323895, 'latitude': 37.566..."
3,games_video,2011,Social Gaming Network,"[{'longitude': -122.161523, 'latitude': 37.446..."
4,mobile,2012,Skydeck,"[{'longitude': -122.3254705, 'latitude': 37.56..."
5,mobile,2012,Jumbuck Entertainment,"[{'longitude': 144.962991, 'latitude': -37.817..."
6,web,2010,Pixsta,"[{'longitude': -0.208979, 'latitude': 51.51819}]"
7,games_video,2011,Fuzz,"[{'longitude': -122.387799, 'latitude': 37.760..."
8,web,2010,CollegeConvo,"[{'longitude': -74.294395, 'latitude': 40.6502..."
9,web,2011,Ziippi,"[{'longitude': -122.1612868, 'latitude': 37.44..."
10,games_video,2010,Titan Gaming,"[{'longitude': -113.515769, 'latitude': 53.544..."
11,advertising,2013,SEOGroup,"[{'longitude': -87.624701, 'latitude': 41.8862..."
12,mobile,2010,vufind,"[{'longitude': -122.145153, 'latitude': 37.424..."
13,games_video,2011,Kidos,"[{'longitude': -73.956599, 'latitude': 40.7680..."
14,mobile,2010,vufind,"[{'longitude': -122.145153, 'latitude': 37.424..."
15,games_video,2011,Kidos,"[{'longitude': -73.956599, 'latitude': 40.7680..."
16,games_video,2010,Equedia,"[{'longitude': -123.1169693, 'latitude': 49.28..."
17,advertising,2010,Webmoblink,"[{'longitude': -80.424167, 'latitude': 25.6558..."
18,web,2010,Yipit,"[{'longitude': -73.987764, 'latitude': 40.7446..."
19,web,2010,fruux,"[{'longitude': 7.6267552, 'latitude': 51.96300..."
20,web,2013,Clowdy,"[{'longitude': -2.2439492, 'latitude': 53.4837..."
21,games_video,2010,Tengaged,"[{'longitude': 2.1634249, 'latitude': 41.42412..."
22,games_video,2010,Indee,"[{'longitude': -122.4052761, 'latitude': 37.80..."
23,web,2010,eCampusCash,"[{'longitude': -74.294395, 'latitude': 40.6502..."
24,games_video,2010,BASH Gaming,"[{'longitude': -122.0780632, 'latitude': 37.55..."
25,advertising,2010,MyLikes,"[{'longitude': -122.408914, 'latitude': 37.777..."
26,games_video,2011,Hayen Company,"[{'longitude': -81.004871, 'latitude': 34.0191..."
27,games_video,2010,Flixxy,"[{'longitude': -82.800333, 'latitude': 27.9723..."
28,games_video,2010,ekidnaworld,"[{'longitude': 153.033686, 'latitude': -27.457..."

In [37]:
#funcion para sacar las coordinadas
def getLocation(company):
    longitude = company['offices'][0]['longitude']
    latitude = company['offices'][0]['latitude']
    coordinates = [float(longitude), float(latitude)]
    
    return coordinates

In [38]:
getLocation(new_companies[0])

[-95.712891, 37.09024]

In [39]:
coords=[{'type': 'Point', 'coordinates':getLocation(comp)}for comp in new_companies]

In [17]:
#print(coords)

In [40]:
df['office_coords']=coords
df.head()

,category_code,founded_year,name,offices,office_coords
0,web,2011,Mokitown,"[{'longitude': -95.712891, 'latitude': 37.09024}]","{'coordinates': [-95.712891, 37.09024], 'type'..."
1,mobile,2010,GENWI,"[{'longitude': -111.9035, 'latitude': 33.8171}]","{'coordinates': [-111.9035, 33.8171], 'type': ..."
2,web,2013,Fixya,"[{'longitude': -122.323895, 'latitude': 37.566...","{'coordinates': [-122.323895, 37.566879], 'typ..."
3,games_video,2011,Social Gaming Network,"[{'longitude': -122.161523, 'latitude': 37.446...","{'coordinates': [-122.161523, 37.446823], 'typ..."
4,mobile,2012,Skydeck,"[{'longitude': -122.3254705, 'latitude': 37.56...","{'coordinates': [-122.3254705, 37.5645375], 't..."

In [41]:
df=df[['category_code','founded_year','name','office_coords']]

In [42]:
df.head()

,category_code,founded_year,name,office_coords
0,web,2011,Mokitown,"{'coordinates': [-95.712891, 37.09024], 'type'..."
1,mobile,2010,GENWI,"{'coordinates': [-111.9035, 33.8171], 'type': ..."
2,web,2013,Fixya,"{'coordinates': [-122.323895, 37.566879], 'typ..."
3,games_video,2011,Social Gaming Network,"{'coordinates': [-122.161523, 37.446823], 'typ..."
4,mobile,2012,Skydeck,"{'coordinates': [-122.3254705, 37.5645375], 't..."

In [43]:
df.to_json('df_new_compannies.json', orient='records')

In [ ]:
#esto una vez hemos a√±adido las coordenadas, para ver la distancia.

web_companies = coll.find(
    {"location":
     {"$near":
      {"$geometry":
       {"type":"Point",
        "coordinates":[-73.9712,40.7831]
       },
       "$maxDistance":10000
      }
     }
    }
)
manhattanWendys=list(manhattanWendys)

In [26]:
"""prueba = list(coll.find({'$and':
                           [ { "offices.latitude": {"$exists": True,"$ne":None} },
                            { "offices.longitude": {"$exists": True,"$ne":None} },
                            {'founded_year': {'$gt': 2009 }},
                            {'deadpooled_year':None}]}, 
                          {'name':1,'founded_year': 1, '_id': 0,'offices.latitude':1, 
                           'offices.longitude':1, 'category_code':1, 'location':1 }))"""

In [35]:
"""df = pd.DataFrame(prueba)
df.tail(40) """

,category_code,founded_year,name,offices
24,mobile,2010,vufind,"[{'longitude': -122.145153, 'latitude': 37.424..."
25,travel,2011,travelmob,"[{'longitude': -157.78907, 'latitude': 21.3030..."
26,photo_video,2012,Non-Member Films,"[{'longitude': -118.462421, 'latitude': 33.989..."
27,travel,2010,UsingMiles,"[{'longitude': -104.9998449, 'latitude': 39.74..."
28,games_video,2011,Kidos,"[{'longitude': -73.956599, 'latitude': 40.7680..."
29,mobile,2010,vufind,"[{'longitude': -122.145153, 'latitude': 37.424..."
30,travel,2011,travelmob,"[{'longitude': -157.78907, 'latitude': 21.3030..."
31,photo_video,2012,Non-Member Films,"[{'longitude': -118.462421, 'latitude': 33.989..."
32,travel,2010,UsingMiles,"[{'longitude': -104.9998449, 'latitude': 39.74..."
33,games_video,2011,Kidos,"[{'longitude': -73.956599, 'latitude': 40.7680..."
34,games_video,2010,Equedia,"[{'longitude': -123.1169693, 'latitude': 49.28..."
35,software,2012,Navara,"[{'longitude': 5.038078, 'latitude': 52.126616}]"
36,advertising,2010,Webmoblink,"[{'longitude': -80.424167, 'latitude': 25.6558..."
37,web,2010,Yipit,"[{'longitude': -73.987764, 'latitude': 40.7446..."
38,web,2010,fruux,"[{'longitude': 7.6267552, 'latitude': 51.96300..."
39,security,2011,Cyphercor,"[{'longitude': -75.9204125, 'latitude': 45.348..."
40,web,2013,Clowdy,"[{'longitude': -2.2439492, 'latitude': 53.4837..."
41,enterprise,2011,Queralt,"[{'longitude': -72.8190106, 'latitude': 41.477..."
42,software,2011,Unison Technologies,"[{'longitude': -73.9799007, 'latitude': 40.764..."
43,security,2011,NetCitadel,"[{'longitude': -72.114442, 'latitude': 44.8673..."
44,games_video,2010,Tengaged,"[{'longitude': 2.1634249, 'latitude': 41.42412..."
45,software,2010,Reachoo,"[{'longitude': -80.135487, 'latitude': 26.2480..."
46,games_video,2010,Indee,"[{'longitude': -122.4052761, 'latitude': 37.80..."
47,other,2012,LoveAccess,"[{'longitude': -70.884948, 'latitude': 42.1663..."
48,web,2010,eCampusCash,"[{'longitude': -74.294395, 'latitude': 40.6502..."
49,software,2011,VisualOn,"[{'longitude': -121.955879, 'latitude': 37.270..."
50,software,2010,kinDragon,"[{'longitude': -82.5294065, 'latitude': 27.408..."
51,games_video,2010,BASH Gaming,"[{'longitude': -122.0780632, 'latitude': 37.55..."
52,software,2010,AppNeta,"[{'longitude': -71.24756, 'latitude': 42.318138}]"
53,advertising,2010,MyLikes,"[{'longitude': -122.408914, 'latitude': 37.777..."
54,network_hosting,2012,RipCloud,"[{'longitude': -122.4184108, 'latitude': 37.75..."
55,enterprise,2012,Plug in SEO,"[{'longitude': -0.1262362, 'latitude': 51.5001..."
56,ecommerce,2013,Shopseen,"[{'longitude': -122.214897, 'latitude': 37.772..."
57,games_video,2011,Hayen Company,"[{'longitude': -81.004871, 'latitude': 34.0191..."
58,games_video,2010,Flixxy,"[{'longitude': -82.800333, 'latitude': 27.9723..."
59,enterprise,2010,Fliptop,"[{'longitude': -122.419209, 'latitude': 37.775..."
60,games_video,2010,ekidnaworld,"[{'longitude': 153.033686, 'latitude': -27.457..."
61,fashion,2010,Chicisimo,"[{'longitude': -2.9308322, 'latitude': 43.2644..."
62,biotech,2013,VistaGen Therapeutics,"[{'longitude': -122.3843489, 'latitude': 37.66..."
63,ecommerce,2010,ticketea,"[{'longitude': -3.7061764, 'latitude': 40.4455..."